<section class="overlay-container padding-2 overlay-minimized-message-global" id="overlay-information-message" ng-click="closeInformationMessage()">
    <div class="background"></div>
    <div class="overlay" flowtype min-font="14" max-font="18" font-ratio="25" height="550px">
        <div class="close-overlay" ng-click="closeInformationMessage()"></div>
        <div class="clearfix">
            <div class="warning-message-container-global">
                <div class="noPayment-icon-global">
                    <img src="/img/expand-icon-global.svg" />
                </div>
                <div class="payment-message-global">
                    Make the window larger.
                </div>
                <div class="payment-message-small-global">
                    CAAG can't fit in a browser window this small
                </div>
            </div>
        </div>
    </div>
</section>