/* WM Color Pallet **************************************************/


/* Monochrome dark - light */

$black: #000000;
$fore: #222222;
$gray: #555555;
$umgray: #57584f;
$mgray: #999999;
$lgray: #c1c1c1;
$feather: #e7e7e7;
$egg: #F1F1F1;

/* Green dark - light */

$drkgrn: #024731;
$soylent: #00693C;
$greenr: #3C8A2E;
$lime: #7AB800;
$llime: #eaf8da;

/* Red, Yellow */

$red: #c30000;
$darkred: #930000;
$fec: #FECB00;

/* Tan dark - light */

$dedo: #E0DED0;
$booger: #c6c6bc;
$ltan: #f1f0e9;
$cream: #FCECD1;
$white: #ffffff;
$offset-btm-border: #bed600;
$actionColor: $greenr;
$overviewVerticalBreakpoint: 900px;

/* fonts */

$typeface: "Foundry Sterling Book",
'Helvetica',
'Arial',
'sans-serif';
$breakpointXXLwidth: 1920px;
$breakpointXXLheight: 1080px;
$breakpointXLwidth: 1680px;
$breakpointXLheight: 960px;
$breakpointLgwidth: 1440px;
$breakpointLgheight: 830px;
$breakpointMwidth: 1280px;
$breakpointSwidth: 1024px;
// 1440 x  830
// 1680 x 960
